.navigation {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}
.sign-up {
  margin-left: 10%;
  margin-right: 30%;
  font-family: Archivo Narrow;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  /* Text/Ronchi */
}
.sign-up a {
  color: #ECB847;
}
.why {
  margin-right: 30%;
  /* Body / B3-18 px Medium 2 */
  font-family: Archivo Narrow;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  /* Text/Ronchi */
}
.why a {
  color: #ECB847;
}
.what {
  /* Body / B3-18 px Medium 2 */
  font-family: Archivo Narrow;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  /* Text/Ronchi */
}
.what a {
  color: #ECB847;
}
